# Data Preparation
## Preparing the original csv from source: https://www.citibikenyc.com/system-data

In [1]:
import pandas as pd

In [2]:
#Using pandas to read the dataframe
jan_21_full = pd.read_csv ('Data/Jan_21.csv')
jan_21_full.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1
1,1543,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2
2,1461,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1
3,793,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0
4,596,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0

In [6]:
#Creating new dataframe that only holds the desired columns
jan_21_df_new=jan_21_full[["usertype","birth year", "gender", "starttime", "start station name", "start station latitude", "start station longitude", "end station name", "end station latitude", "end station longitude"]]
jan_21_df_new

,usertype,birth year,gender,starttime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude
0,Subscriber,1988,1,2021-01-01 00:03:35.5100,Manila & 1st,40.721651,-74.042884,Brunswick St,40.724176,-74.050656
1,Customer,1996,2,2021-01-01 00:23:32.9250,Grand St,40.715178,-74.037683,Van Vorst Park,40.718489,-74.047727
2,Customer,1995,1,2021-01-01 00:23:50.7940,Grand St,40.715178,-74.037683,Van Vorst Park,40.718489,-74.047727
3,Customer,1969,0,2021-01-01 00:31:09.0770,City Hall,40.717733,-74.043845,Newport Pkwy,40.728745,-74.032108
4,Customer,1969,0,2021-01-01 00:35:52.1900,Harborside,40.719252,-74.034234,Brunswick St,40.724176,-74.050656
...,...,...,...,...,...,...,...,...,...,...
11619,Subscriber,1958,1,2021-01-31 20:16:05.4700,Warren St,40.721124,-74.038051,Montgomery St,40.719420,-74.050990
11620,Subscriber,1972,1,2021-01-31 21:05:05.2090,Grove St PATH,40.719586,-74.043117,Warren St,40.721124,-74.038051
11621,Subscriber,1987,2,2021-01-31 21:06:23.5880,Newark Ave,40.721525,-74.046305,Marin Light Rail,40.714584,-74.042817
11622,Subscriber,1989,1,2021-01-31 21:16:37.8220,JC Medical Center,40.716540,-74.049638,Lafayette Park,40.713464,-74.062859
11623,Subscriber,1994,1,2021-01-31 23:24:50.8810,Harborside,40.719252,-74.034234,Grove St PATH,40.719586,-74.043117

## Data Cleaning

In [7]:
#Dropping rows where gender = 0 (unknown)
clean_1 = jan_21_df_new[jan_21_df_new.gender != 0]
clean_1

,usertype,birth year,gender,starttime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude
0,Subscriber,1988,1,2021-01-01 00:03:35.5100,Manila & 1st,40.721651,-74.042884,Brunswick St,40.724176,-74.050656
1,Customer,1996,2,2021-01-01 00:23:32.9250,Grand St,40.715178,-74.037683,Van Vorst Park,40.718489,-74.047727
2,Customer,1995,1,2021-01-01 00:23:50.7940,Grand St,40.715178,-74.037683,Van Vorst Park,40.718489,-74.047727
5,Subscriber,1990,1,2021-01-01 00:39:55.5950,Brunswick & 6th,40.726012,-74.050389,Newark Ave,40.721525,-74.046305
7,Subscriber,1958,1,2021-01-01 01:12:20.8060,Marin Light Rail,40.714584,-74.042817,Essex Light Rail,40.712774,-74.036486
...,...,...,...,...,...,...,...,...,...,...
11619,Subscriber,1958,1,2021-01-31 20:16:05.4700,Warren St,40.721124,-74.038051,Montgomery St,40.719420,-74.050990
11620,Subscriber,1972,1,2021-01-31 21:05:05.2090,Grove St PATH,40.719586,-74.043117,Warren St,40.721124,-74.038051
11621,Subscriber,1987,2,2021-01-31 21:06:23.5880,Newark Ave,40.721525,-74.046305,Marin Light Rail,40.714584,-74.042817
11622,Subscriber,1989,1,2021-01-31 21:16:37.8220,JC Medical Center,40.716540,-74.049638,Lafayette Park,40.713464,-74.062859
11623,Subscriber,1994,1,2021-01-31 23:24:50.8810,Harborside,40.719252,-74.034234,Grove St PATH,40.719586,-74.043117

In [8]:
#Checking for NaN in this dataframe
clean_1.isnull().values.any()

False

## Adding age calculations based on birth year
Because this data was recorded in January 2021, I subtracted birth year from 2020, since everyone had their birthday after the full year (2020).

In [9]:
#Adding an "age" column to the dataframe
clean_1["age"]=2020-clean_1['birth year']
clean_2 = clean_1
clean_2

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,usertype,birth year,gender,starttime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,age
0,Subscriber,1988,1,2021-01-01 00:03:35.5100,Manila & 1st,40.721651,-74.042884,Brunswick St,40.724176,-74.050656,32
1,Customer,1996,2,2021-01-01 00:23:32.9250,Grand St,40.715178,-74.037683,Van Vorst Park,40.718489,-74.047727,24
2,Customer,1995,1,2021-01-01 00:23:50.7940,Grand St,40.715178,-74.037683,Van Vorst Park,40.718489,-74.047727,25
5,Subscriber,1990,1,2021-01-01 00:39:55.5950,Brunswick & 6th,40.726012,-74.050389,Newark Ave,40.721525,-74.046305,30
7,Subscriber,1958,1,2021-01-01 01:12:20.8060,Marin Light Rail,40.714584,-74.042817,Essex Light Rail,40.712774,-74.036486,62
...,...,...,...,...,...,...,...,...,...,...,...
11619,Subscriber,1958,1,2021-01-31 20:16:05.4700,Warren St,40.721124,-74.038051,Montgomery St,40.719420,-74.050990,62
11620,Subscriber,1972,1,2021-01-31 21:05:05.2090,Grove St PATH,40.719586,-74.043117,Warren St,40.721124,-74.038051,48
11621,Subscriber,1987,2,2021-01-31 21:06:23.5880,Newark Ave,40.721525,-74.046305,Marin Light Rail,40.714584,-74.042817,33
11622,Subscriber,1989,1,2021-01-31 21:16:37.8220,JC Medical Center,40.716540,-74.049638,Lafayette Park,40.713464,-74.062859,31
11623,Subscriber,1994,1,2021-01-31 23:24:50.8810,Harborside,40.719252,-74.034234,Grove St PATH,40.719586,-74.043117,26

In [10]:
#Dropping the birth year column
clean_3=clean_2.drop(columns=['birth year'])
clean_3

,usertype,gender,starttime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,age
0,Subscriber,1,2021-01-01 00:03:35.5100,Manila & 1st,40.721651,-74.042884,Brunswick St,40.724176,-74.050656,32
1,Customer,2,2021-01-01 00:23:32.9250,Grand St,40.715178,-74.037683,Van Vorst Park,40.718489,-74.047727,24
2,Customer,1,2021-01-01 00:23:50.7940,Grand St,40.715178,-74.037683,Van Vorst Park,40.718489,-74.047727,25
5,Subscriber,1,2021-01-01 00:39:55.5950,Brunswick & 6th,40.726012,-74.050389,Newark Ave,40.721525,-74.046305,30
7,Subscriber,1,2021-01-01 01:12:20.8060,Marin Light Rail,40.714584,-74.042817,Essex Light Rail,40.712774,-74.036486,62
...,...,...,...,...,...,...,...,...,...,...
11619,Subscriber,1,2021-01-31 20:16:05.4700,Warren St,40.721124,-74.038051,Montgomery St,40.719420,-74.050990,62
11620,Subscriber,1,2021-01-31 21:05:05.2090,Grove St PATH,40.719586,-74.043117,Warren St,40.721124,-74.038051,48
11621,Subscriber,2,2021-01-31 21:06:23.5880,Newark Ave,40.721525,-74.046305,Marin Light Rail,40.714584,-74.042817,33
11622,Subscriber,1,2021-01-31 21:16:37.8220,JC Medical Center,40.716540,-74.049638,Lafayette Park,40.713464,-74.062859,31
11623,Subscriber,1,2021-01-31 23:24:50.8810,Harborside,40.719252,-74.034234,Grove St PATH,40.719586,-74.043117,26

In [14]:
#Extracting start date from "starttime"
clean_3['date'] = pd.to_datetime(clean_3['starttime']).dt.date
#Dropping starttime column
clean_4=clean_3.drop(columns=['starttime'])
clean_4

,usertype,gender,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,age,time,date
0,Subscriber,1,Manila & 1st,40.721651,-74.042884,Brunswick St,40.724176,-74.050656,32,2021-01-01,2021-01-01
1,Customer,2,Grand St,40.715178,-74.037683,Van Vorst Park,40.718489,-74.047727,24,2021-01-01,2021-01-01
2,Customer,1,Grand St,40.715178,-74.037683,Van Vorst Park,40.718489,-74.047727,25,2021-01-01,2021-01-01
5,Subscriber,1,Brunswick & 6th,40.726012,-74.050389,Newark Ave,40.721525,-74.046305,30,2021-01-01,2021-01-01
7,Subscriber,1,Marin Light Rail,40.714584,-74.042817,Essex Light Rail,40.712774,-74.036486,62,2021-01-01,2021-01-01
...,...,...,...,...,...,...,...,...,...,...,...
11619,Subscriber,1,Warren St,40.721124,-74.038051,Montgomery St,40.719420,-74.050990,62,2021-01-31,2021-01-31
11620,Subscriber,1,Grove St PATH,40.719586,-74.043117,Warren St,40.721124,-74.038051,48,2021-01-31,2021-01-31
11621,Subscriber,2,Newark Ave,40.721525,-74.046305,Marin Light Rail,40.714584,-74.042817,33,2021-01-31,2021-01-31
11622,Subscriber,1,JC Medical Center,40.716540,-74.049638,Lafayette Park,40.713464,-74.062859,31,2021-01-31,2021-01-31
11623,Subscriber,1,Harborside,40.719252,-74.034234,Grove St PATH,40.719586,-74.043117,26,2021-01-31,2021-01-31

In [15]:
clean_4.to_csv('jan_21_final.csv')